<h1>{{Attractions.description.Name}}</h1>
<div>
    <h2>Attraction Information:</h2>
    <ul>
            <li id="detail-attration-rating">{{Attractions.description.Rating}}</li> 
            <li><img src= "{{Attractions.description.Img}}"/></li>
            <li>${{Attractions.description.Price}}</li>
            <li>{{Attractions.description.Content}}</li>
            <li>{{Attractions.description.Category}}</li>
            <li>{{Attractions.description.Address}}</li>
    </ul>
</div>

{{#if isAdmin}}
<p>You can delete this attraction</p>
    <a id='admin-delete-atrraction' href="/delete/attractions/{{Attractions._id}}">Delete</a>
{{/if}}

<div id="show-comments">
    <h2>Comments:</h2>
        <dl id="commentsList"></dl>
</div>
<div class="search-card-center">
    <form id="add-comment-form" method="POST">
        <label for="input-attraction-rating">Rating for this attraction: </label><br>
        <input type="number" id="input-comment-attraction-rating" placeholder="from 0 to 5(need integer)" name="attractionRating" min="0" max="5"><br>
        <label for="new-comment-input">Leave your new comment:</label><br>
        <textarea id="new-comment-input" name="newComment" placeholder="before you submit your comment,log in first!"></textarea>
        <button type="submit" class="submit-btn" id="new-comment-submit">Submit</button>
    </form>
</div>

    <div type="hidden">
        <input id="attractionId-add-travelogue" name="attractionIdDetailPage"type="hidden" value={{Attractions._id}} />
    </div>


{{!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/ajax.js"></script> --}}