<h1>{{Attractions.description.Name}}</h1>
<div>
    <h2>Attraction Information:</h2>
    <ul>
            <li>{{Attractions.description.Rating}}</li> 
            <li><img src= "{{Attractions.description.Img}}"/></li>
            <li>${{Attractions.description.Price}}</li>
            <li>{{Attractions.description.Content}}</li>
            <li>{{Attractions.description.Category}}</li>
            <li>{{Attractions.description.Address}}</li>
    </ul>
</div>

{{#if isAdmin}}
<p>You can delete this attraction</p>
    <a href="/delete/attractions/{{Attractions._id}}">Delete</a>
{{/if}}

<div id="show-comments">
    <h2>Comments:</h2>
        <dl id="commentsList"></dl>
</div>
<div class="search-card-center">
    <form id="add-comment-form" method="POST">
        <label for="new-comment-input">New Comment</label><br>
        <textarea id="new-comment-input" name="newComment" placeholder="before you submit your comment,log in first!"></textarea>
        <button type="submit" class="submit-btn" id="new-comment-submit">Submit</button>
    </form>
</div>

{{!-- <div>
    <h2>Related Travelogues:</h2>
    <ul>
        {{#if isAdmin}}
        {{#each Travelogues}}
        <li>
            <a href = "/travelogues/found/{{this._id}}">{{this.travelogue.title}}</a>
            <a href="/delete/travelogues/{{this._id}}">Delete</a>
        </li> 
        {{/each}}
        {{else}}
        <li>
            <a href = "/travelogues/found/{{this._id}}">{{this.travelogue.title}}</a>
        </li> 
        {{/if}}
        </ul>
    <a href="/travelogues/add">post your unique travelogue about this attraction</a>
</div> --}}

    <div type="hidden">
        <input id="attractionId-add-travelogue" name="attractionIdDetailPage"type="hidden" value={{Attractions._id}} />
    </div>
<script type="text/javascript">
    localStorage.setItem('attractionIdForAddTravelogue', document.getElementById("attractionId-add-travelogue").value);
    localStorage.setItem('pageDeriveFrom', "add");
    localStorage.setItem('attractionIdToAdd', document.getElementById("attractionId-add-travelogue").value);
</script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/ajax.js"></script>