<div id="searchTable">
<div>
<h1 id="searchTermForSort" class="searchTerm">Search Term: {{searchTerm}}</h1>
{{#if sortBtn}}
<div style="margin-top:2%;margin-bottom:2%">
<button id="defualtBtn" class="searchSortBtn">Sort By default</button>
<button id="sortBtn" class="searchSortBtn">Sort By Rating</button>
</div>
{{/if}}
</div>
{{#if attractionSearch}}
<div id="attractionTable">
{{#each attractions}}
<div class="attraction" onclick="location.href='/attractions/found/{{this._id}}';">
    <div class="attraction_img" style="float:left;"><img src= "{{description.Img}}" alt="{{description.Name}}"/></div>
    <div class="attraction_text">
        <p>{{description.Name}}</p>
        <p>Rating : {{description.Rating}}/5 | {{relatedCommentsId.length}} comments | $ {{description.Price}} /per</p>
        <p>{{description.Category}} | {{description.Address}}</p>
        {{description.Content}}
    </div>
</div>
{{/each}}
</div>
<div id="attractionTableSorted" hidden>
{{#each sortedAttractions}}
<div class="attraction" onclick="location.href='/attractions/found/{{this._id}}';">
    <div class="attraction_img" style="float:left"><img src= "{{description.Img}}" alt="{{description.Name}}"/></div>
    <div class="attraction_text">
        <p>{{description.Name}}</p>
        <p>Rating : {{description.Rating}}/5 | {{relatedCommentsId.length}} comments | $ {{description.Price}} /per</p>
        <p>{{description.Category}} | {{description.Address}}</p>
        {{description.Content}}
    </div>
</div>
{{/each}}
</div>
{{/if}}

{{#if travelogueSearch}}
<div id="travelogueShowTable">
    <ul>
        {{#each travelogues}}
            <li><a href="/travelogues/found/{{this._id}}">{{this.travelogue.title}}</a></li>
        {{/each}}
    </ul>
</div>
{{/if}}
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/sort.js"></script>