<h1>{{searchTerm}}</h1>
<div>
    <ul>
        {{#each attractions}}
            <li>{{description.Name}}</li>
            <li>{{description.Rating}}</li> 
            <li><img src= "{{description.Img}}"/></li>
            <li>{{description.Price}}$</li>
            <li>{{description.Content}}</li>
            <li>{{description.Category}}</li>
            <li>{{description.Address}}</li>
            <li>{{relatedCommentsId.length}}</li>
            <li>
                <a href = "/attractions/found/{{this._id}}">{{this.description.Name}}</a>
            </li>
        {{/each}}
    </ul>
</div>
<div>
    <ul>
        {{#each travelogues}}
            <li><a href="/travelogues/found/{{this._id}}">{{this.travelogue.title}}</a></li>
        {{/each}}
    </ul>
</div>