{{#if Research}}
    <h1>{{keyword}}</h1>
    <div>
        <ul>
        {{#each Travelogue}}
            <li>{{this.title}}</li>
            <li>{{this.content}}</li>
        {{/each}}
        </ul>
    </div>
{{/if}}
{{#if Detail}}
    <h1>{{Travelogue.travelogue.title}}</h1>
    <div>{{{Travelogue.travelogue.content}}}</div>
{{/if}}
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>