<div id="loginsignupTable">

<div id="loginTable" style="float: inline-end;">
<form id="login-form" method="POST" action="/users/login">
<h1>Log In</h1>
    <div class="form-group">
        <label for="input-useremail-login"> User Email</label>
        <input type="email" id="input-usereamil-login" name="useremail" placeholder="useremail" value="{{input-usereamil}}">
    </div>

    <div class="form-group">
        <label for="input-password-login">Password  </label>
        <input type="password" id="input-password-login" name="password" value="{{input-password}}">
    </div>
    <div class="form-group hidden" id="error-container" hidden>
        <div class="alert alert-danger text-goes-here">
        </div>
    </div>
    <div class="form-group">
      {{#if hasLogInErrors}}
      <p class="error">{{error}}!</p>
      {{/if}}
    </div>
    <div class="form-group">
        <button type="submit" class="submit-btn" id="logIn" formaction="/users/login">log in</button>
    </div>
{{!-- modified --}}
    <div type="hidden">
        <input id="pageFrom" type="hidden" name="pageFrom"/>
        <input id="attractionToAddId" type="hidden" name="attractionToAddId"/>
        
    </div>
</form>
</div>

<div id="sighupTable">
<form id="signup-form" method="POST" action="/users/signup">
    <h1>Sign Up</h1>
    <div class="form-group">
        <label for="input-useremail-signin">User Email</label>
        <input type="email" id="input-usereamil-signin" name="useremail" placeholder="useremail" value="{{input-usereamil}}">
    </div>

    <div class="form-group">
        <label for="input-password-signin">Password</label>
        <input type="password" id="input-password-signin" name="password" value="{{input-password}}">
    </div>
    <div class="form-group">
        <label for="input-firstName">First Name</label>
        <input type="text" id="input-firstName" name="firstName" value="{{input-firstName}}">
    </div>
    <div class="form-group">
        <label for="input-lastName">Last Name</label>
        <input type="text" id="input-lastName" name="lastName" value="{{input-lastName}}">
    </div>
    <div>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">Other</label>
    </div>
    <div class="form-group hidden" id="error-container" hidden>
        <div class="alert alert-danger text-goes-here">
        </div>
    </div>
    <div class="form-group">
      {{#if hasSignUpErrors}}
      <p class="error">{{error}}!</p>
      {{/if}}
    </div>
    <div class="form-group">
        <button type="submit" class="submit-btn" id="signUp">sign up</button>
    </div>
</form>
</div>

</div>
<script type="text/javascript">
if(localStorage.getItem('pageDeriveFrom')){
    document.getElementById("pageFrom").value = localStorage.getItem('pageDeriveFrom');
}
if(localStorage.getItem('attractionIdToAdd')){
    document.getElementById("attractionToAddId").value = localStorage.getItem('attractionIdToAdd');
}
</script>